
img {
  padding-top: 8px;
  padding-bottom: 4px;
}
.gambar-produk {
  object-fit: cover;
  object-position: center;
  width: 100%;
  aspect-ratio: 2/1;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  appearance: textfield; /* Firefox */
}

.form-control.no-focus-outline {
  box-shadow: none;
  border-color: transparent;
  outline: none;
  text-align: center;
  display: inline-block;
  padding: 0;
  margin: 0;
}
